.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.form-panel {
    /* width: 300px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.26);
    padding: 40px;
    margin: 60px auto;
    background: #1BBC9B;
}

.thin {
    width: 300px !important;
}

.wide {
    width: 100% !important;
    margin: 0px;
}

.last-child {
    margin-top: 20px;
}
.short {
    height: 30%;
}

.form-panel form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-panel input {
    border:1px solid #ccc;
    width:200px;
    padding:10px;
    margin:5px 15px;
    border-radius:5px;
}

.form-panel select {
    border:1px solid #ccc;
    width:350px;
    padding:10px;
    margin:5px 15px;
    border-radius:5px;
}

.form-header {
    font-family: 'Roboto', sans-serif;
}

.form-header {
    color: #fff;
    margin-bottom: 10px;
}

.form-panel button[type='submit'] {
    border: none;
    background: #F9433E;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px;
    width: 180px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }

.form-panel button[type='submit']:hover {
    background: #f7130d;
}