.container-main {
    display: flex;
    justify-content: center;
    
}

.container-profile {
    display: flex;
    margin: 20px 0;
    width: 70%;
    flex-flow: row wrap;
}

.side-profile {
    padding: 20px 0 10px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-right: 20px;
}

.side-profile img {
    -webkit-border-radius: 20% !important;
    -moz-border-radius: 20% !important;
    border-radius: 20% !important;
    width: 70%;
}

.user-title {
    text-align: center;
    margin-top: 20px;
    color: #5a7391;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}

.menu-profile {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    align-self: stretch;
}

.user-nav {
    list-style: none;
}

.menu-profile ul li {
    border-bottom: 1px solid #f0f4f7;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-profile ul li:last-child {
    border-bottom: none;
}

.menu-profile ul li i {
    font-size: 18px;
    position: relative;
    top: 2.5px;
}

.menu-profile ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #93a3b5;
    font-weight: 400;
}

.menu-profile ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.menu-profile ul li:hover {
    background-color: #fafcfd;
}

.menu-profile ul li.active {
    border-bottom: none;
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.main-profile {
    display: flex;
    padding: 20px;
    background: #fff;
    min-height: 460px;
    flex-grow: 6;
}

.reservations {
    display: none;
    width: 100%;
}

.edit-settings {
    display: flex;
    width: 100%;
}

.edit-settings ul {
    list-style-type: none;
}

.edit-settings ul li {
    margin: 10px;
}