### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Local files ###
cinemaker.code-workspace
test.php
516356_CARTIER.rar
516356_CARTIER.zip
